<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="//cdn.polyfill.io/v2/polyfill.min.js?features=default"></script>
    <script>(function (d) { d.className = d.className + ' demo-js'; })(document.documentElement);</script>
    <link rel="stylesheet" href="//www.ft.com/__origami/service/build/v2/bundles/css?modules=o-forms%405.8.2%3A%2Fdemos%2Fsrc%2Fdemo.scss%2Co-fonts%40%5E3%2Co-buttons%40%5E5%2Co-normalise%401&amp;brand=master">
    <link rel="shortcut icon" href="/icon/logo_black.png">
    <title>weather app</title>
</head>

<body>
    {{{body}}}
    <script src="/script/index.js"></script>
</body>

</html>