body {
  overflow-x: hidden;
  margin: 0 auto;
}

.formContent {
  padding-top: 40px;
}

.centre {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 200px;
}
.card {
  background-color: #0D7680;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 8em;
  height: 16em;
  margin: 40px;
  color:#fff;
  text-align: center;
}
.content {
  margin: 0 auto;
}
.image {
  width: 4em;
}
.icon {
  margin-top: 10px;
  height: 70px;
}
.hide {
  display: none;
}
.title {
  text-align: center;
  font-size: 2em;
  text-transform: capitalize;
}
.main {
  text-transform: uppercase;
  font-size: 1.4em;
}

.error {
  margin: 0 auto;
  width: 40%;
  border: rgb(0, 15, 99) dashed 1px;
}
.errorColor {
  color: black;
}

