body {
  overflow-x: hidden;
  margin: 0 auto;
}
 .weather {
  width: 100vw;
  height: 100vh;

} 
.current {
  margin-top: -40px;
}
.formContent {
  padding-top: 40px;
}
.city {
  width: 42%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
  box-sizing: border-box;
  font-size: 1em;
}

.btn {
  font-family: "Lato", sans-serif;
  background-color: #2a4c84;
  color: white;
  padding: 14px 20px;
  border: none;
  font-size: 1em;
  transition: all 0.4s;
}
.btn:hover,
.btn:disabled {
  background-color: #b4cdf7;
  color: #2a4c84;
}

.search {
  width: 18%;
  border-radius: 0px 4px 4px 0px;
}

.location {
  width: 80%;
}
.centre {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 200px;
}
.card {
  background-color: #0D7680;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 8em;
  height: 16em;
  margin: 40px;
  color:#fff;
  text-align: center;
}
.content {
  margin: 0 auto;
}
.image {
  width: 4em;
}
.icon {
  margin-top: 10px;
  height: 70px;
}
.hide {
  display: none;
}
.title {
  padding-top: 40px;
  text-align: center;
  font-size: 2em;
  text-transform: capitalize;
}
.main {
  text-transform: uppercase;
  font-size: 1.4em;
}

.error {
  margin: 0 auto;
  width: 40%;
  border: rgb(0, 15, 99) dashed 1px;
}
.errorColor {
  color: black;
}

@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }
  .weather {
    width: 100vw;
    height: 2000px;
  }

  .container {
    padding: 0;
  }
  .city {
    width: 50%;
  }
  .search {
    width: 30%;
  }
  .location {
    width: 50%;
  }
}
