<form action='/api/?city' method="get" class="formContent">
    {{!-- {{input name='city ' class='input ' id='input ' type='text' value=name}} --}}
    <input name='city' class='city' type='text' placeholder="enter a city name" />
    <input type="submit" value="serch" class="btn">
</form>